{% extends "theme::layouts/default" %}

{% block content %}
 
<div class="inner">
    <div class="container-fluid">

	    <div class="panel">

		    <div class="panel-heading">
		        <h3 class="panel-title">
		            {module_name} Module
		        </h3>
		    </div>

		    <div class="panel-body">
		        
		    </div>

			</div>
		</div>
</div>

{% endblock %}