{% extends "theme::layouts/default" %}

{% block content %}
<div>
    <div class="container-fluid">
        <div class="columns row">
            <div class="column col-lg-24">
                <div class="widget card" data-id="1">
                    <span class="card-label card-label-info">
                        {module_name} Module
                    </span>
                    <div class="card-block">
                      <!-- content -->
                    </div>
                    <div class="card-corner card-corner-info"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
