<p>_______________________ </p>
<p>|          __          |</p>   ____   __ __  ___  _     ___      ___  ____
<p>|         /::|   PYRO  |</p>  |    \ |  |  ||   || |   |   \    /  _||    \
<p>|        |::::\_       |</p>  |  o  )|  |  | | | | |   |    \  /  |_ |  D  )
<p>|     __  \:::::`-_    |</p>  |     ||  |  | | | | |__ |  D  ||    _||    /
<p>|   /:::\  ''-.::::\   |</p>  |  O  ||  :  | | | |    ||     ||   |_ |    \
<p>|  /::::/      \::::\  |</p>  |_____| \__,_||___||____||_____||_____||__|\_|
<p>|  |:::|        |:::|  |</p>  <info>Addons scaffolder for maximum coding pleasure</info>
<p>|  \::::\      /::::/  |</p>
<p>|   \::::`-..-'::::/   |</p>  Available Commands:
<p>|    '-_::::::::_-'    |</p>  - <comment>builder:list</comment> List available registy templates
<p>|       `------'       |</p>  - <comment>builder:make</comment> Create an addon from a template
<p>|______________________|</p>  - <comment>builder:clear</comment> Clear cache and stored templates
